<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>We truly believe that simplicity is the ultimate sophistication!</h2>
            <a href= <%= new_order_path %> class="btn btn-default btn-xl wow tada">Order Now!</a>
        </div>
    </div>
</aside>

