<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The simple new way to give luxury</h1>
            <hr>
            <p>From the moment you visit our site, you'll find that our primary focus is simplicity. Select one of our five carefully curated bouquets, share a few details with us, and you're done. Luxuriously Simple.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

